[app]
name = "personal-finance-manager"
secret_key = "THE-POW3RRAN6ER"
issuer = "personal-finance-manager"
token_expired_at = 60

[server]
host = "localhost"
port = 4001
read_timeout = 5
write_timeout = 10
idle_timeout = 5

[database]
is_active = true
host = "localhost"
db = "finance-manager"
username = "root"
password = "apple"
port = "3306"